body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header,
.footer {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    flex-shrink: 0;
    height: 80px;
}

.header{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 18px;
    padding: 0;
    margin: 0;
   }

li {
    padding: 10px;
   }

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background-color: #1F2937;
    padding-bottom: 80px;
    align-items: center;
}

.blurb {
    display: flex;
    flex-direction: column;
    width: 450px;
    flex-shrink: 0;
}

.blurb-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}


.blurb-text{
  display: flex;
  flex-direction: column;  
  gap: 10px;
  font-size: 18px;
  color: #E5E7EB;
  padding: 10px;
}

.but1{
    width: 110px;
    height: 35px;
    background: #3882F6;
    color: #F9FAF8;
    font-weight: 600;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #3882F6;    
}

button:hover,
a:hover {
    cursor: pointer;
}

a {
    all: unset;
}

a:visited {
    text-decoration: none;;
}
.placeholder {
    display: flex;
    width: 450px;
    height: 200px;
    background-color: #949494;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    font-size: 14px;
    flex-shrink: 0;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;;
}

.main1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    padding: 20px;
  }

.block {
    border: 3px solid #3882F6;
    border-radius: 8px;
    padding: 50px;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }

  .text1 {
    display: flex;
    width: 150px;
    text-align: center;
    color: #1F2937;
  }

  .main2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    background-color: #E5E7EB;
  }

  .text2 {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 700px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937
  }

  .text2-2 {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: 20px;
    font-weight: 900;
  }

  .main3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
  }

  .rounded-object {
    display: flex;
    align-items: flex-start;
    width: 700px;
    flex-direction: column;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 40px 80px;
}

.ro-title {
    font-size: 20px;
    font-weight: 900;;
    color:#F9FAF8;
}
  .ro-text {
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: #F9FAF8;
    display: flex;
    gap: 100px;
  }

  .but2 {
    width: 110px;
    height: 35px;
    font-weight: 600;
    background-color: #3882F6;
    color: #F9FAF8;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #F9FAF8
  }

  .footer {
    margin-top: auto;
    justify-content: center;
    align-items: center;
  }